@font-face {
    font-family: 'dm-sans';
    src: url('fonts/DMSans-Regular.ttf');
}
@font-face {
    font-family: 'dm-sans';
    font-weight: bold;
    src: url('fonts/DMSans-Bold.ttf');
}
@font-face {
    font-family: 'dm-sans-medium';
    src: url('fonts/DMSans-Medium.ttf');
}
@font-face {
    font-family: 'arvo';
    font-weight: bold;
    src: url('fonts/Arvo-Bold.ttf');
}
@font-face {
    font-family: 'sf-pro-display';
    font-weight: bold;
    src: url("fonts/SFPRODISPLAYBOLD.OTF") format("opentype");
}
body{
    padding-top:25px;
    font-family: 'dm-sans';
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #02073E;
    background-color: #F9FBFD;
    background-image: url('img/header-background2.png');
    background-size: 100%;
    background-repeat: no-repeat;
}


.container{
    margin-bottom: 100px;
    width: 1200px;
}
/*HEADER*/
.top-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-logo a{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right:30px;  
}
.header-logo img{
    height: 37px;
    width:auto;
    margin-right: 12px;
}
.header-logo a{
    text-decoration: none;
    color: #02073E;
}
.header-logo p{
    font-family: 'sf-pro-display';
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    margin-right: 700px;
  
}
.top-nav ul, .nav-bottom ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
}
.top-nav ul li a, .nav-bottom ul li a{
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 33px;
    color: #02073E;
    margin-right:35px;
}
.header-content{
    padding:100px 0px;
    width:100%;
}

h1{
    font-family: 'dm-sans';
    font-weight: bold;
    font-size: 48px;
    line-height: 70px;
    letter-spacing: -1px;
    max-width:550px;
    margin-bottom:20px;
}
.header-text{
    font-size: 16px;
    line-height: 42px;
    max-width:550px;
}
.header-form{
    margin: 30px 0px;
}
.header-form input{
    border-radius: 8px;
    border:1px #566272 solid;
    padding:12px;
    width: 350px;
    height: 60px;
    font-size: 16px;
    line-height: 40px;
    opacity: 0.4;
    margin-right:12px;
}
.header-form button{
    padding:0 20px;
    border-radius: 8px;
    border:0px;
    height: 60px;
    font-size: 16px;
    line-height: 40px;
    background-color: #28DDB2;
    color: #ffffff;
}
.header-clients{
    color:#566272;
    opacity: 0.6;
    display:flex;
    flex-direction: row;
    align-items: center;
}
.header-clients img{
    height:30px;
    width:auto;
    margin-left:12px;
}
/* FEATURES */

.above-text{
    font-size: 13px;
    line-height: 25px;
    text-align: center; 
}
h3{
    font-family: 'dm-sans';
    font-weight: 100;
    font-size: 24px;
    line-height: 10px;
    text-align: center;
    margin: 200px 0 0 0 ;
}
.features-block{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 500px;
}
.features-item{
    padding:30px;
    width:20%;
    border: 1px #EDEEF0;
}
.features-item:hover{
    background-color: #ffffff;
}
.text1 {
    margin: -28px 0 5px 50px;
}
#features .feature-title, #help .feature-title{
    font-size: 18px;
    line-height: 30px;
    margin: 0;
}
#features .feature-text, #help .feature-text{
    font-size: 16px;
    line-height: 30px;
    color:#343D48;
}
.features-item a{
    text-decoration: none;
    font-family: 'dm-sans';
    font-size:15px;
    color:#3183FF;
}
/*SUPPORT*/
#support, #help{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.img-container,.support-text{
    width:48%;
    margin:20px;
}
.img-container img{
    width:100%;
}
h2{
    font-family: 'dm-sans';
    letter-spacing: -1px;
    color: #0F2137;
    font-size:25px;
    line-height: 55px;
}
.support-text p{
    font-size: 16px;
    line-height: 36px;
}
.support-block{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.support-item{
    width:55%;
    display:flex;
    flex-direction: row;
    align-items: center;
    
}
.support-item1 a{
    width: 1000px;
    display:flex;
    flex-direction: row;
    align-items: end;
    text-decoration: none;
    color: #4F96FF;
  
}
.someimg {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}
.support-item img{
    height:20px;
    width:auto;
    margin-right: 5px;
}
.support-item p{
    font-family: 'dm-sans-medium';
    font-size: 16px;
    line-height: 45px;
}
/*PRICING*/
.container-table{
    display:none;
}
.pricing-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.pricing-item:nth-of-type(2){
    border-top-left-radius:0px;
    border-top-right-radius:0px;
}
.pricing-item-container{
    padding-top:35px;
}
.pricing-item-container:nth-of-type(4){
    padding-top:0px;
    margin-top: 35px;
}

.bordergreen{
    display:flex;
    flex-direction: column;
    justify-content: center;
    border:#3FDBB1 2px solid;
    
    
}
.pricing-item{
    display:flex;
    flex-direction: column;
    justify-content: center;
  
    border:#e0e3e3 1px solid;
    margin-top:35px;
}


.pricing-legend,.pricing-item{
    padding:20px;
    margin:3px;
    border-radius:8px;
}
.pricing-legend{
    padding-top:170px;
    display:none;
}
.pricing-legend:nth-of-type(1){
    display:block;
}
.top-badge{
    font-weight: bold;
    text-transform: uppercase;
    font-size:14px;
    background-color: #52ACFF;
    color:#F9FBFD;
    text-align: center;
    padding:10px;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    margin:0px 3px -3px 3px;
}
.plan-title{
    font-size:17px;
    font-family: 'dm-sans';
   font-weight: bold;
    
}
.plan-title1 {
    font-size:17px;
    font-family: 'dm-sans';
    
}
.plan-price{
    font-family: 'dm-sans';
    font-size:17px;
    margin: -50px 0 0 400px;
}
.plan-title2 {
    font-size:17px;
    font-family: 'dm-sans';
   
}
.plan-price span{
    font-family: 'dm-sans';
    font-weight: bold;
    font-size:26px;
}
.pricing-item img{
    width:20px;
    height:auto;
    padding:8px;
    
}

.suggested-tag {
    background: #EF9E48;
    padding: 3px 10px;
    width: 110px;
    color: #ffffff;
}

/*.pricing-item{
    width:55%;
    display:flex;
    flex-direction: row;
    align-items: center;
    
} */
 .opassity1 {
    opacity: 40%;
 }
.pricing-item button, .pricing-table td button{
    font-weight: bold;
    font-size:16px;
    color: #FFC059;
    border: #ffffff 1px solid;
    border-radius: 5px;
    background-color: #FCF2E8;
    padding:13px 35px;
    margin:10px 0;

}
.pricing-item button:hover{
    background-color: #FFC059;
    color: #fff; 
}
.plan-trial{
    font-size:15px;
    opacity: 50%;
}
/*HELP*/
.help-item{
    max-width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.help-item img{
    margin-right:15px;
}
/*OUR CLIENTS*/
#our-clients{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#our-clients p{
    font-size: 16px;
    line-height: 30px;
    text-align: center;
}
#our-clients a{
    color:#4F96FF;
    font-weight: bold;
    line-height: 42px;
    font-size: 16px;
    text-decoration: none;
}
#our-clients img{
    width:100%
}

/*FOOTER*/
.footer-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.footer-menu-item{
    margin: 80px;
    font-size: 15px;
}
.plan-price{
    font-family: 'dm-sans-medium';
    font-size:18px;
    line-height: 30px;
}
.footer-menu ul{
    list-style-type: none;
    padding-left:0px;
}
.footer-menu ul li a{
    font-size:14px;
    opacity: 80%;
    line-height: 250%;
    text-decoration: none;
    color:#02073E;
}
.footer-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.copyright-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.copyright-content{
    font-size:14px;
    opacity: 60%;

}
/*Media query*/
@media only screen and (max-width: 1650px) {
    body {
      background-size: 120%;
      background-position: top center;
    }
  }
@media only screen and (max-width: 1400px) {
    body {
      background-size: 140%;
    }
  }
@media only screen and (max-width: 1250px) {
    body {
        background-size: 165%;
        background-position-x: 40%;
        background-position-y:top;
      }
    .container {
      width: auto;
      padding-left:40px;
      padding-right:40px;
      margin-bottom: 50px;
    }
    .pricing-item-container{
        width:35%;
    }
    #header{
        width:90%;
    }
    .pricing-legend:nth-of-type(5){
        display:block;
    }
  }
@media only screen and (max-width: 991px) {
    body {
      background-size: 210%;
      background-position-x: 20%;
    }
    .container{
        margin-bottom: 20px;
    }
    h2{
        font-size:24px;
        line-height:36px;
    }
    h3{
        font-size:20px;
        line-height:30px;
    }
    .support-item{
        width:100%;
    }
    #support{
        flex-direction: column;
    }
    .img-container, .support-text{
        width:100%;
    }
    .support-item p{
        line-height:0px;
    }
    .features-item{
        width:40%;
        padding:30px 10px;
    }
  }
@media only screen and (max-width: 768px) {
    h1{
        font-size:32px;
        line-height:48px;
    }
    .header-form input{
        width:200px;
    }
    .features-item{
        width:80%;
        padding:30px 0px;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .pricing-legend{
        display: block;
    }
    .pricing-legend:nth-of-type(3){
        padding-top:170px;
    }
    .pricing-item-container{
        width:54%;
    }
    .img-container{
        display:none;
    }
    .pricing-item{
        padding:30px 0px;
    }
    .footer-menu{
        flex-wrap:wrap;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (max-width: 500px) {
    body{
        background-image: none;
    }
    .top-menu{
        flex-direction: column;
    }
    .header-clients{
        flex-direction: column;
    }
    .container-table{
        display: block;
        margin: auto;
        width: 300px;
        overflow-x: scroll;
    }
    .container-table table{
        width: 600px;
        border-collapse: collapse;
        -webkit-overflow-scrolling: touch;
    }
    .pricing-container{
        display:none;
    }
    .footer-bottom,.copyright-info{
        flex-direction: column;
    }
    .header-form button{
        padding:0 10px;
    }
    .header-form input{
        width:153px;
    }
    .container{
        padding:10px 0px;
    }
}         